**How to Create Dict**

In [5]:
d1={102:"Rahul",105:"Payal",106:"Arjun",107:"Prachi"}
type(d1)
d2={} #Create empty dict
type(d2)
#d3=dict()#Empty dict&it is a function.Don't use : in function.
d3=dict(r="Rahul",p="Payal") #variable as a str and make it key.
d3

{'r': 'Rahul', 'p': 'Payal'}

**Accessing Dict Element**

In [11]:
print(d1) #First way to access.
print(d1[102])
print(d1[102],d1[105],d1[106],d1[107]) #Second way via key
for k in d1:
    print(k,d1[k])

{102: 'Rahul', 105: 'Payal', 106: 'Arjun', 107: 'Prachi'}
Rahul
Rahul Payal Arjun Prachi
102 Rahul
105 Payal
106 Arjun
107 Prachi

**How To Edit Dict Element/Add Element**

In [17]:
d1
d1[102]="Ruchi"
d1[105]="Sonam" #We can edit element via key value and we can change only data value not key value.
                # If yoy want to change key value you have to delete it in pair with both key and data.
d1[106]="Karan"
d1[107]="Ranchi"

d1
del d1[102] #To delete data.
d1

{105: 'Sonam', 106: 'Karan', 107: 'Ranchi'}

**Built -In - Methods**

In [23]:
#All thses methods are dict class atributes.
len(d1)
min(d1) # Watch only key value to check min or max.
max(d1)
sum(d1) #Add key values
sorted(d1,reverse=True)
#Actually all functions work on key.

[107, 106, 105]

In [24]:
#Concatination & Repetation Operator Not Supported
#Comparison Operator not supported <,>,<=,>=.
d1==d2  #Two dicts objects are equal if their items are equal.Elements can be store in any order.Sequence does not matter.
#d3={'p':'payal','r':'Rahul'}
#d4={'r': 'rahul' , p:'Payal}

False

**Dict Object Method**

In [12]:
d1={102: 'Rahul', 105: 'Payal', 106: 'Arjun', 107: 'Prachi'}
d1
d1.pop(102)
d1.popitem()#Remove Last one 
d1.clear()
d1

{}