**print Number from 1 to 10:**

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**print 10 to 1 (reverse order):**

In [2]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

**print first 10 even number**

In [3]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [4]:
r=range(1,6,1)
for i in range(1,6,1):
    print(i)

1
2
3
4
5

In [5]:
r=range(10,3,-2)
for i in range(10,3,-2):
    print(i)

10
8
6
4

In [6]:
r=range(2,10,3)
for i in range(2,10,3):
    print(i,i**2)

2 4
5 25
8 64

**Use range() to print numbers from 0 to 5.**

In [7]:
for i in range(0,6,1):
    print(i)

0
1
2
3
4
5

**Use range() to print numbers from 3 to 8.**

In [8]:
for i in range(3,9,1):
    print(i)

3
4
5
6
7
8


**Use range() to print numbers from 1 to 10.**

In [9]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

**Use range() to print numbers from 10 down to 1.**

In [10]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

**Use range() to print numbers from 2 to 20, skipping 2 (even numbers).**

In [11]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

**Use range() to print numbers from 1 to 19, skipping 2 (odd numbers).**

In [12]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

**Use range() to print numbers from 5 to 50, skipping 5 (multiples of 5)**

In [13]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

**Use range() to print numbers from 100 down to 50, skipping 10.**

In [14]:
for i in range(100,49,-10):
    print(i)

100
90
80
70
60
50

**Print numbers from -5 to 5 using range().**

In [15]:
for i in range(-5,6,1):
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

**Print numbers from 50 down to 0, skipping 5.**

In [16]:
for i in range(50,-1,-5):
    print(i)

50
45
40
35
30
25
20
15
10
5
0

**Print the first 10 squares using range() (1², 2² … 10²).**

In [17]:
for i in range(1,11,1):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

**Print the first 10 cubes using range()**

In [18]:
for i in range(1,11,1):
    print(i**3)

1
8
27
64
125
216
343
512
729
1000

**Print every 3rd number from 1 to 30.**

In [19]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

**Print numbers between 1 and 100 that are divisible by 7 using range()**

In [20]:
for i in range(1,101):
    if i%7==0:
        print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

**Print numbers between 1 and 50 that are divisible by both 3 and 5 using range().**

In [21]:
for i in range(1,51):
    if i%3==0 and i%5==0:
        print(i)

15
30
45

In [22]:
sum=0
for i in range(1,100):
    if i % 3==0 or i%5 ==0:
        sum= sum+i
        print(sum)
print("Total sum of ",sum)

3
8
14
23
33
45
60
78
98
119
143
168
195
225
258
293
329
368
408
450
495
543
593
644
698
753
810
870
933
998
1064
1133
1203
1275
1350
1428
1508
1589
1673
1758
1845
1935
2028
2123
2219
2318
Total sum of  2318

**Take a number n (e.g., 5) and print its factorial using a for loop**

In [25]:
n=int(input("Enter a Number :"))
factorial=1
for i in range(1,n+1):
    factorial=factorial*i
print(factorial)

Enter a Number : 22

1124000727777607680000

**Take a number (e.g., 12345) and print it in reverse using a for loop.**