**Set In Python**

**Creating set Object**

In [3]:
s1={1,2,4,6}
type(s1)
s1={10,2,8,10,10,8}#Dont give an error,it will remove duplicate value.
print(s1)
s1={}#It is not a empty set,It is empty dict{}
s1=set()#This is the way to make empty set. we can pass only one value that should be iterable not int.
#s1=set([1,2,3])Type Error:
#set(10)Type error,plz dont pass int, pass value should be iterable.
s1=set("Mysirg")
print(s1)

{8, 10, 2}
{'i', 'r', 's', 'g', 'M', 'y'}

**write a python script to remove duplicate elements from a list**

In [5]:

l1=list(set([int(x)for x in input("Enter Number Seprated by comma").split(',')]))
print(l1)

Enter Number Seprated by comma 10,20,10,20,30,30

[10, 20, 30]

**Accessing The Set Element**

In [6]:
s2={40,10,20,30}# here is no concept of indexing so we can access thses element via for loop.
for i in s2:
    print(i)

40
10
20
30

**Built_In-Method**

In [13]:
s4={40,10,20,30}
len(s4)
min(s4)
max(s4)
sum(s4)
sorted(s4)#sorted function always return list
sorted(s4,reverse=True)

[40, 30, 20, 10]

**Concatination And Reptation**

In [14]:
# Concatination and reptation Not Allowed In Set

**Comparision Operator**

In [16]:
s1={4,5,6}
s2={6,5,4}
print(s1==s2)
s1>s2

True

False

**Set Object Method**

In [35]:
s4={40,10,20,30,}
s4.add(60)# we can add single digit by add()function
s4
s4.add(100) # If we add tuple or any iterable it will add tuble as a single (2,3,4)element
s4


s4.update((10,20,100)) #Update function will take only single argument but should be iterable not int.Here I put single set of tuple.
s4
# If we add (2,3,4,)tuple add with update () it will make an element of this value 2,3,4
s4.remove(100) #U will get an error when u call unavilable value in set.
s4
s4.discard(30)#Do not give an error and not delete any thing this is difference between remove() and discard()

s4


s4.pop()#Delete in a sequence from start to end one by one from this function.

s4.clear()#It makes an empty set.
s4

s5={46,55,77,88}
s6={46,88,33,22}    #It gives common digit. It returns set in both s5 and s6.
s5.intersection(s6)

s5.union(s6) # It will remove common value or duplicate from both variable and return pure value .

s7={8,1,5}
s8={1,5,8,10,}
s7.issubset(s8) 
s8.issuperset(s7)

True