**Tuples in Python**

**Creation of Tuple Object**

In [1]:
t1=(1,2,3,5,7)
type(t1)
t1=() #Empty Tuple
t1=(2,)#If u put single digit in tuple keep comma atleast,otherwise it will be int
t1=11,6,3,10, #It is also tuple we can write tuple without ()Parenthesis.
#u can keep comma at last.

tuple

**Indexing in Tuples**

In [7]:
t1=(10,20,30,40)
t1[0]
t1[1]
t1[2]
t1[3]
#t1[4] if u will access unavilable index u will get an error.

40

**Accessing Tuples Elements**

In [9]:
t1=(20,30,40,50,)
#print(t1[0]) #Access through print function and indexing
i=0
while (i<len(t1)):
    print(t1[i])
    i+=1

20
30
40
50

In [10]:
for a in t1:
    print(a)

20
30
40
50

**Built-In-Method**

In [16]:
l1=(10,20,30,40,50,)
len(l1)
min(l1)
max(l1)
sum(l1)
sorted(l1)
sorted(l1,reverse=True)

[50, 40, 30, 20, 10]

**Concatination & Repetation Operators**

In [22]:
t1=(10,20,)
t2=(11,22,33,)
(t1+t2)#concatination
t1*3#Repetation

(10, 20, 10, 20, 10, 20)

**Comparison Operators**

In [24]:
t1=(10,20,)
t2=11,33,35  #Comparison up and down pair
print(t1>t2)
t2>t1

False

True

**Tuple Object Method**

In [28]:
t1=1,2,3,5,7,
t1.index(7) # show index of number
t1.count(5)#How many times repetating same digit

1

**Slicing Operators**

In [30]:
t1=(10,4,3,2,9,1,3,4,5,)
t1[2:8:2]

(3, 9, 3)