                                       **While Loops Practise Questions**

                                           ** Count NUMBER 1 to 20**

In [1]:
i=1
while i<20:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

**print the number 1 to 20**

In [2]:
i=1
while i<21:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

##### x=int(input("Enter a Number :"))

i=2
while i<=20:
    print(i)
    i *= 3

                         ** Print Number From 1 to 10 :while loop **

In [3]:
i=1
while i<=10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

                          **Print even numbers between 1 to 20 using while loop.**

In [4]:
i=1
while i<=20:
    if i %2 == 0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20

In [5]:
i = 1
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

                                          **Print Odd Number 1 To 20**

In [6]:
i=1
while i<=20:
        print(i)
        i +=2

1
3
5
7
9
11
13
15
17
19

                                     **Table of 7**

In [7]:
i=1
Num=7
while i <=10:
    print(Num*i)
    i+=1

7
14
21
28
35
42
49
56
63
70

In [8]:
i=1
Num=25
while i<=10:
    print(i*Num)
    i+=1

25
50
75
100
125
150
175
200
225
250

In [9]:
i=1
num=100
while i<=10:
    print(i*num)
    i+=1

100
200
300
400
500
600
700
800
900
1000

In [10]:
i=1
sum=0
while i<=100:
    sum = sum + i
    i+=1
print(sum)

5050

In [11]:
i = 1
sum = 0
while i <= 100:
    sum = sum + i
    i+=1
print(sum)

5050

In [12]:
i = 1
while i <= 22:
    if i % 2 !=0:
        print(i)
        i+=2

1
3
5
7
9
11
13
15
17
19
21

In [13]:
i = 1
table = 7
while i <= 10:
    print(table*i)
    i+=1

7
14
21
28
35
42
49
56
63
70

In [14]:
i = 1
while i <= 5:
    print(i)
    i+=1

1
2
3
4
5

In [15]:
i = 5
while i >= 0:
    print(i)
    i-=1

5
4
3
2
1
0

In [16]:
x=int(input("Enter a Number :"))

Enter a Number : 23322424

In [17]:
rev = 0
x=45464464
while x > 0:
    digit = x % 10
    rev = rev * 10 + digit
    x = x // 10
print(rev)

46446454

                                        **Top 100 Questions of while loop**

                                           **Number And Sequences**

**Print Number from 1 to 50**

In [18]:
i=1
while i <=50:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

**Print Number from 1 to 50 in reverse order**

In [19]:
i=50
while i>=1:
    print(i)
    i-=1

50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

**Print all even number 1 to 100**

In [20]:
i=1
while i<=100:
    if i % 2 == 0:
        print(i)
    i+=1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [21]:
i = 1
while i <= 100:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

**Print All odd Number 1 to 100**

In [22]:
i=1
while i<=100:
    if i % 2!=0:
        print(i)
    i+=2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

**Print Square of Number from 1 to 20**

In [23]:
i=1
while i<=20:
    print(i*i)#i*i
    i+=1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

**Find cube of 1 to 20**

In [24]:
i=1
while i<=20:#Find cube formula **3
    print(i**3)
    i+=1

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000

**Print Multiplication of table of given Number**

In [25]:
i=1
num=7
while i <=10:
    print(i*num)
    i+=1

7
14
21
28
35
42
49
56
63
70

In [26]:
i=1
Num=7
while i<=20:
    print(i*num)
    i+=1

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105
112
119
126
133
140

**print all number 1 to 100 divisible by 5**

In [27]:
i=1
while i <=100:
    if i%5 ==0:
        print(i)
    i+=1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

**Print Number from 1 to 100 skipping multiples of 3**

In [28]:
i=1
while i<=100:
    if i%3!=0:
        print(i)
    i+=1

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98
100

                                                    **Sumation Problem**

**Find the sum of first 50 natural numbers**

In [29]:
i=1
while i<=50:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

**Find sum of all even Number 1 to 100**

In [30]:
i=1
sum=0
while i<=100:
    if i%2 ==0:
        sum=sum+i
    i+=1
print(sum)

2550

**Find sum of all odd Number 1 to 100**

In [31]:
i=1
sum=0
while i<=100:
    if i%2 !=0: #check odd numbers
        sum=sum+i  #add value of i in sum and assign in sum
    i+=2     #increment by 2
print(sum)

2500

**Find sum of a digit of given number**

In [32]:
num=98765432123456789
sum=0
while num>0:
    last_digit=num%10
    sum=sum+last_digit
    num= num // 10
print(sum)

89

In [33]:
num= 12343245678
rev= 0
while num > 0:
    last_digit= num % 10
    rev= rev * 10 + last_digit
    num = num // 10
print(rev)

87654234321

**Find the product of digits of a given number**

In [34]:
num = 26215
product= 1 #we cannot take o here bcz 0*0=0,so take 1.
while num > 0:
    last_digit= num % 10
    product= product * last_digit
    num = num // 10
print(product)

120

**Find the sum of numbers from 1 to n (user input)**

In [6]:
num=int(input("Enter a Number :"))
i=1
sum=0
while i<=num:
    sum=sum + i
    i+=1
print(sum)

Enter a Number : 20

210

**Find the sum of cubes of first 10 natural numbers**

In [4]:
i=1
sum=0
while i <=10:
    cube=i**3
    print(cube)
    sum= sum + cube
    i+=1
print("The sum of total cube is",sum)

1
8
27
64
125
216
343
512
729
1000
The sum of total cube is 3025

**Find the sum of squares of first 15 natural numbers.**

In [5]:
i=1
sum=0
while i<=15:
    square=i**2
    print(square)
    sum=sum + square
    i+=1
print("The sum of square :",sum)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
The sum of square : 1240